.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > h1 {
  padding: 10px;
  font-size: 18px;
}

.listWrapper {
  display: grid;
  gap: 20px 12px;
  padding: 16px 12px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
